app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
    ports:
      - 3010:3000
    volumes:
      - ./docuseal-test:/data/docuseal
    environment:
      - RUBY_YJIT_ENABLE=0
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/docuseal
    # SUPPRIMEZ TOUTE LA SECTION "healthcheck" CI-DESSOUS SI ELLE EXISTE
    # OU UTILISEZ CELLE-CI QUI EST COMPATIBLE DEBIAN :
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/healthz"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 60s
